* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

a{
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}




h1 span {
  color: #a77f0e;
  text-shadow: 2px 2px 4px #ffbb0079;
  
}

body {
    margin-right: 100px;
    padding: 110px 40px 40px;
    background-color: #ffbb00;
}



button {
    background:#ffbb00;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    border:rgb(255, 255, 255) 1px solid;
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 24px;
}

button:hover {
    background: rgb(255, 255, 255);
    color:black;
}

.button2 {
    background:#ffbb00;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border:rgb(255, 255, 255) 1px solid;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 18px;    
}


.button2:hover {
    background: rgb(255, 255, 255);
    color:#ffbb00;
}

.button3 {
    background:#ffbb00;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border:rgb(255, 255, 255) 1px solid;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 18px;
    
}

.button3:hover {
    background: rgb(255, 255, 255);
    color:#ffbb00;
}

.buttongera {
    background:#ffbb00;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    border:rgb(255, 255, 255) 3px solid;
    padding: 15px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 24px;
}
.buttongera:hover {
    background: rgb(255, 255, 255);
    color:#ffbb00;
}


h2{
    font-size: 48px;
    color: white;
}

.h2container{
  color: #000000;
  font-size: 18px;
  text-align: left;

}


.h2gerar {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #a77f0e;
  background-color: #ffffff;
  display: flex;
  align-items: center;      
  gap: 10px;                 
  padding: 10px;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  
}

.h2gerar i {
  
  font-size: 24px;
  color: #a77f0e;
}

h1{
    font-size: 48px;
    color: black;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

h3{
  text-align:left;
  font-size: 28px;
  color: #000000;
  margin-top: 30px;
   
}

p{
  font-size: 20px;
  color: #343434;

}

.p2{
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}


.cabecalho-fixo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
}

.cabecalho-fixo nav a {
  color: #a77f0e;
  text-decoration: none;
  margin-right: 20px; 
  font-size: 24px;
  padding: 10px 20px; 
  border-radius: 40px;
  display: inline-block;
  transition: all 0.3s ease;
}

.cabecalho-fixo nav a:hover {
  background-color: #a77f0e;
  color: white;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transform: scale(1.05) translateY(-3px);
}

.conteudo-princ {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  margin-top: 40px;
}

.textos {
  flex: 1;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.fotocv img {
  width: 400px;
  height: auto;
  border-radius: 10px;
}



form {
  display: flex;
  max-width: 1000px;
  gap: 50px;
  flex-wrap:wrap;
  
}

.form-campo {
  display:flex;
  flex-direction: column;
  
  
  
}

label {
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 5px;
}

input,
textarea,
select {
  width: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 4px;
  box-sizing: border-box;
}


.fade-in {
  font-size: 36px;
  color: white;
  text-align: center;
  background-color:#a77f0e;
  border-radius: 4px;
  border:2px solid;
  opacity: 0;
  animation: fadeIn 1s forwards;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in2 {
  color: white;
  font-size: 24px;
  opacity: 0;
  animation: fadeIn 6s forwards;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in3 {
  font-size: 24px;
  color: white;
  text-align: center;
  background-color:#ffbb00;
  border-radius: 30px;
  border:2px solid;
  opacity: 0;
  animation: fadeIn 1s forwards;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.formacao-item{
  font-size:24px;
  color: #a77f0e;
  margin-bottom: 16px;
  background-color: white;
  width: 50%;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px;


}

.quali-item{
  font-size:24px;
  color: #a77f0e;
  margin-bottom: 16px;
  background-color: white;
  width: 50%;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 10px;


}

.curriculoFormatado{
  display: none;
  padding: 20px;
  background-color: #fff; color: #000;
}



.check-sucesso {
  border-radius: 10px;
  border:rgb(255, 255, 255) 1px solid;
  background-color: #a77f0e;
  display: none;
  font-size: 18px;
  color: white;
  margin-top: 10px;
  transition: opacity 1s ease;
    padding: 10px;


}

.check-sucesso.ativo {
  display: block;
  opacity: 1;
}


@media print {
  .formacao-item,
  .quali-item {
    opacity: 1 !important;
    color: #000 !important;
  }
}